---
---

@import "{{ site.theme }}";

.btn {
  color: #EEB7FF;
  border-color: #EEB7FF;
}

.page-header {
  background-color: #1F2544;
  color: #EEB7FF;
  text-align: center;
  background-image: none;
  border-radius: 10px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #EEB7FF;
}
